@import url(https://fonts.googleapis.com/css?family=Gabriela|Dosis:200);

body {
  font-family: "Vidaloka", serif;
  font-smoothing: antialiased;
  font-weight: normal;
  background: transparent;
  color: #FFF;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  background: transparent;
  pointer-events: none;
  color: white;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  background: transparent;
  pointer-events: none;
  color: white;
}

.title {
  height: 100vh;
  width: 100vw;
  position: absolute;
  pointer-events: none;
}

p {
  line-height: 1.6em;
  text-align: center;
  font-size: 14px;
}


.overlay {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
